* {
    color: black;
    background-color: rgb(174, 174, 127);
}

#heading{
    width: 100%;
    background-color: rgb(255, 165, 0, 0.5);
    }
#side{
    width: 33%;
    background-color: blue;
    }
#inner{
    width: 67%;
    }
.section{
    width: 100%;
    background-color: #00ff00;
    }

h1{
    opacity: 1;
    font-family: Georgia, serif;
    font-size: 40px;
}

p{
    font-family: Verdana, sans-serif;
}

div{
    border: 2px solid rgb(61, 34, 34);
    margin: 0px 10px 0px 10px;
    border-radius: 4px 3px 6px 10px;
    margin: 0 auto;
}



